# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment
.env

# Chroma Database
chroma_db/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

__pycache__/
*.py[cod]